*{
	box-sizing: border-box;
}

header{
	background: url(bg.jpg);
	padding: 30px 0;
}

.texto-maria{
	color: #FFFFFF;
	font-size: 40px;
	width: 1080px;
	text-align: left;
	font-family: Garamond;
	font-weight: bold;
	margin: 0 auto;
}

.container{
	width: 1080px;
	height: 100%;
	margin: 0 auto;
}

.texto-tbl{
	margin: 30px auto;
	font-size: 60px;
	width: 940px;
	text-align: center;
	font-family: Garamond;
	font-weight: bold;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}


footer{
	text-align: center;
	background: url(bg.jpg);
	padding: 50px 0;
	margin-top:105px;
}

.texto-footer{
	color: #FFFFFF;
	font-size: 13px;
}










label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-jogo{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}

.jogo-invalido{
	background-color: lightcoral;
}
